:root{
    --preto:#000000;
    --preto:#000000;
    --blue: #3700ff;
    color: white;
}

body {
 background-color:var(--preto);
}


img {
    width: 30%;
}
Header{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}
 .intro{
  display: flex;
  background-color: var(--blue);
  /* border-radius: 181px; */
  /* border-style: dashed; */
  /* border-width: 32px; */
  /* border-color: blue; */
  /* border: dotted 10px blue; */
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  padding: 10px;
 }

.BETA{
  display: flex;
  /* border-radius: 181px; */
  /* border-style: dashed; */
  /* border-width: 32px; */
  /* border-color: blue; */
  /* border: dotted 10px blue; */
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  padding: 10px;
}

 #equipe{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: var(--blue);
  text-align: center;
  color: white;
 }

 .img-equipe{
  width: 59%;
  border-radius: 75px;
 }