:root{
    --preto:#000000;
    --preto:#000000;
    --blue: #3700ff;
    color: white;
}

body {
 background-color:var(--preto);
}


img {
    width: 30%;
}
Header{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}
 .intro{
  display: flex;
  background-color: var(--blue);
  /* border-radius: 181px; */
  /* border-style: dashed; */
  /* border-width: 32px; */
  /* border-color: blue; */
  /* border: dotted 10px blue; */
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  padding: 10px;
 }

.BETA{
  display: flex;
  background-color: var(--blue);
  /* border-radius: 181px; */
  /* border-style: dashed; */
  /* border-width: 32px; */
  /* border-color: blue; */
  /* border: dotted 10px blue; */
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: aqua;
}

.modulos{
  display: flex;
  /* border-radius: 181px; */
  /* border-style: dashed; */
  /* border-width: 32px; */
  /* border-color: blue; */
  /* border: dotted 10px blue; */
  /* margin: 10px; */
  justify-content: center;
  align-items: center;
  padding: 80px;
  color: white;
}

.container {
  display: flex;
  align-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.container{
  position: relative;
  height: 100vh;
  width: 100vw;
}
.container img {
  position: absolute;
  height: 50%;
  width: 50%;
  border:2px solid red ;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

 #equipe{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #b8aba8;
  text-align: center;
  color: white;
 }

 .img-equipe{
  width: 59%;
  border-radius: 75px;
 }