:root{
    --roxo:#49003f;
    --preto:#000000;
    --blue: #3700ff;
  

body {
 background-color:var(--roxo)
}


image {
    width: 30%;
}
display:flex;
  flex-direction row:
  align-items: center;
  justify-content: space-around;
}
 <section{
    display:flex;
    background-color: